html {
    box-sizing: border-box;
}

*,
* :before,
* :after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}


/* Login form */

.form {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 1em;
    font-weight: lighter;
}

.login-label {
    font-weight: lighter;
    font-size: 1.5em;
}

.login-input {
    display: block;
    min-height: 40px;
    width: 90%;
    font-size: 0.8em;
    margin: 10px 0;
    border-style: ridge;
    border-width: 1px;
}

.submit-btn {
    float: right;
    border-style: solid;
    border-radius: 3px;
    border-width: 0px;
    width: 100px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: teal;
    color: white;
}